.cycleCounter {
    position: absolute;
    inset: 10px auto auto 10px;
    padding: 5px 10px;

    font-size: 1.5rem;

    color: white;
    background-color: lightgray;
    border-radius: 30px;
}

.infectedCount {
    position: absolute;
    inset: 10px 10px auto auto;
    padding: 5px 10px;

    font-family: 'Open Sans';
    font-size: 1.5rem;

    color: white;
    background-color: lightgray;
    border-radius: 30px;
}

.healthyCount {
    position: absolute;
    inset: 60px 10px auto auto;
    padding: 5px 10px;

    font-family: 'Open Sans';
    font-size: 1.5rem;

    color: white;
    background-color: lightgray;
    border-radius: 30px;
}