.hud {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hud-left {
  left: 10px;
}
.hud-right {
  right: 10px;
}

.hudElement {
  height: 40px;
  padding-inline: 13px;

  font-size: 1.5rem;

  color: white;
  background-color: lightgray;
  border-radius: 30px;

  display: flex;
  align-items: center;
  gap: 5px;
}


.brushSymbol {
  position: relative;
  width: 26px;
  height: 26px;
}
.hexagonStroke {
  position: absolute;
  inset: 0;

  background-color: white;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.hexagonFill {
  position: absolute;
  inset: 0;

  background-color: lightgray;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  scale: 70%;
  visibility: hidden;
}



.logo {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 300px;
}