body {
    margin: 0;
    padding: 0;
    position: "absolute";
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
}



object {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    translate: -50% -50%;
    outline: solid 4px orange;
    /* opacity: 0; */
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
}


#virusMap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    translate: -50% -50%;
    outline: solid 2px mediumslateblue;
}

.virus {
    position: absolute;
    visibility: hidden;

    --gap: 8%;
    clip-path: polygon(
        calc(0% + var(--gap)) calc(25% + var(--gap)),
        calc(0% + var(--gap)) calc(75% - var(--gap)),
        50% calc(100% - var(--gap)),
        calc(100% - var(--gap)) calc(75% - var(--gap)),
        calc(100% - var(--gap)) calc(25% + var(--gap)),
        50% calc(0% + var(--gap))
    );
    /* clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%); */
}

.alpha {
    background-color: salmon;
}


.beta {
    background-color: salmon;
}