#virusMap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    translate: -50% -50%;
}

.virus {
    position: absolute;

    --gap: 8%;
    clip-path: polygon(
        calc(0% + var(--gap)) calc(25% + var(--gap)),
        calc(0% + var(--gap)) calc(75% - var(--gap)),
        50% calc(100% - var(--gap)),
        calc(100% - var(--gap)) calc(75% - var(--gap)),
        calc(100% - var(--gap)) calc(25% + var(--gap)),
        50% calc(0% + var(--gap))
    );
}

.alpha {
    background-color: salmon;
}


.beta {
    background-color: salmon;
}